*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.txt
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
.cloud
.storage
.uuid
core.*
deps
__pycache__
tts
secrets.yaml
secrets
known_devices.yaml
pyozw.sqlite
production_auth.json
